{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "expect": false
  },
  "rules": {
    "func-names": 0,
    "no-invalid-this": 0
  }
}
