{
  "presets": [
    ["env", { "modules": false } ],
    "es2015",
  ],
  "plugins": [
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
  ]
}
